<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= "RJS Docs#{' - '+data.page.title if data.page.title}" %></title>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "all", "dependencies/highlight_solarized_light" %>
    
  </head>
  
  <body class="<%= page_classes %>">
    <nav role="navigation">
      <strong class="navigation_title">Index <a href="#" class="nav-toggle" data-toggle></a></strong>
      <ul class="navigation_links">
        <li>
          <a href="#" class="resource_type">Functions</a>
          <ul class="resources_list">
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
          </ul>
        <li>
        <li>
          <a href="#" class="resource_type">Classes</a>
          <ul class="resources_list">
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
          </ul>
        <li>
        <li>
          <a href="#" class="resource_type">StringUtils</a>
          <ul class="resources_list">
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
            <li class="resource"><a href="http://example.com">to_s</a></li>
          </ul>
        <li>
      </ul>
    </nav>
    <div role="main">
      <section class="project_description" role="banner">
        <h1 class="project_name">Project Name</h1>
        <h2 class="accessible" id="project_description">Description</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
        <a href="#" class="show_more">Show more details</a>
      </section>

      
      <%= yield %>
    </div>
    <%= javascript_include_tag  "all" %>
  </body>
</html>